:root {
  --bg-dark: #1a1a1a;
  --bg-medium: #2a2a2a;
  --bg-light: #3a3a3a;
  --text-light: #f0f0f0;
  --text-medium: #d0d0d0;
  --accent: #3a3a3a;
  --accent-hover: #3a7bc8;
  --background-color: #615c5c; /* Cor sólida de fundo */
}

body {
  margin: 0;
  height: 100vh; /* Garante que o corpo ocupe toda a altura da janela */
  background-color: var(--background-color); /* Cor sólida */
}

.home {
  color: var(--text-light);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background-color: var(--bg-medium);
  text-align: center;
  padding: 80px 20px; /* Ajuste de padding */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.hero h1 {
  font-size: 2.5rem; /* Tamanho reduzido */
  margin-bottom: 15px;
  color: var(--text-medium);
}

.hero .tagline {
  font-size: 1.25rem; /* Tamanho reduzido */
  margin-bottom: 20px;
  color: var(--text-medium);
}

.button {
  display: inline-block;
  background-color: var(--accent);
  color: var(--text-light);
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button:hover {
  background-color: var(--accent-hover);
  transform: translateY(-2px); /* Efeito de elevação */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

.about-mission {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  background-color: var(--bg-dark);
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.about, .mission {
  flex-basis: 48%;
}

.values {
  background-color: var(--bg-medium);
  padding: 50px 0;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.value-item {
  background: #f4f4f448; /* Fundo branco para itens de valor */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s; /* Transição suave */
}

.value-item:hover {
  transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.footer {
  background-color: var(--bg-medium);
  color: var(--text-light);
  padding: 40px 20px; /* Aumentar o padding para mais espaço */
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer h2 {
  margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.footer p {
  margin: 5px 0; /* Espaçamento entre os parágrafos */
}

.social-icons {
  margin: 20px 0; /* Espaçamento acima e abaixo dos ícones sociais */
}

.social-icons a {
  margin: 0 10px; /* Espaçamento entre os ícones sociais */
  color: var(--text-light); /* Cor dos ícones */
  transition: color 0.3s; /* Transição suave para a cor */
}

.social-icons a:hover {
  color: var(--accent); /* Muda a cor ao passar o mouse */
}

.credits {
  margin-top: 20px; /* Espaçamento acima dos créditos */
}

.footer a {
  color: inherit; /* Herda a cor do texto do footer */
  text-decoration: underline; /* Adiciona sublinhado */
}

.footer a:hover {
  color: inherit; /* Mantém a cor ao passar o mouse */
  text-decoration: underline; /* Mantém o sublinhado ao passar o mouse */
}
